<button id="about">About Cookie Compiler</button>
<div id="modal">
    <div id="modal-content">
        <span id="close-modal">X</span>
        <p>Want to make cookies, but don't have a recipe? Cookie Compiler is here for you! Here you can find recipes added by other users and add your own cookies! You can also review recipes and let everyone know what's good! Click on "Login With Google" to get started, or have a sneak peek at the recipes by clicking "See All Cookies."</p>
    </div>
</div>

</body>

</html>