<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>

<body>
    <div class="main-title">
        <h1>Cookie Compiler</h1>
    </div>
    <nav>
        <% if (user) { %>
        <a class="oauth" href="/logout">Log Out</a>
        <% } else { %>
        <a class="oauth" href="/auth/google">Login with Google</a>
        <% } %>
        <a href="/recipes/">See All Cookies</a><br>
        <a href="/recipes/new">Add A New Cookie Recipe</a>
        <a href="/recipes/reviews">See Your Cookie Reviews</a>
    </nav>