body {
  width: 100%;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #CCFFD2;
}

#about {
  height: 30px;
  width: 300px;
  margin: 20px auto;
  font-weight: bold;
  font-size: 24px;
  border: black solid 2px;
  border-radius: 5px;
}

a {
  font-size: 20px;
  color: black;
  background-color: #E8F9EE;
  border: black solid 2px;
  border-radius: 5px;
  text-decoration: none;
  padding: 4px 10px;
  text-align: center;
  display: flex;
}

a:hover, .button:hover {
  box-shadow: 1px 1px 4px #000000;
}

nav {
  background-color: #54A372;
  border: black solid 2px;
  margin: 0 auto;
  display: flex;
  padding: 10px 10px;
}

h1 {
  font-family: 'Cookie', cursive;
  color: #E8F9EE;
  text-shadow: 5px 5px 2px #000000;
  font-size: 100px;
  background-color: #54A372;
  border: black solid 2px;
  margin: 0 auto;
  padding: 15px 15px 15px 20px;
  text-align: left;
}

#all-recipes {
  display: grid;
  width: 50%;
  justify-items: center;
  margin: 0 auto;
}

img {
  width: 75%;
  height: auto;
  padding: 40px 0px 0px 0px;
}

.header {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
}

.button {
  font-size: 16px;
  font-weight: bold;
  color: black;
  background-color: #E8F9EE;
  border: black solid 2px;
  border-radius: 5px;
  text-decoration: none;
  margin: 0 auto;
  padding: 5px 10px;
  align-items: center;
  text-align: center;
  display: flex;
}

#new-form, #edit-recipe-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 20rem));
  font-size: 16px;
  padding: 5px 20px;
  width: fit-content;
}

#new-form input[type="submit"], 
#edit-recipe-form input[type="submit"] {
  grid-column: span 2;
}

#show-page {
  display: grid;
  width: 50%;
  justify-items: center;
  margin: 0 auto;
}

#avg-rating {
  column-span: all;
}

#reviews {
  border-spacing: 0px 5px;
}

#reviews > th, td {
  border-spacing: 0px 0px;
  border-bottom: 1px solid #000000;
}

#new-review-form {
  display: grid;
  grid-gap: 10px;
  font-size: 16px;
  width: fit-content;
}